# Dependencies
/node_modules
/p-npm
/.pnpm
vendor/

# Next.js Builds
/.next/
/out/
/build/
dist/
*.tsbuildinfo

# Environment Variables & Secrets
.verified*.*
.env
.env*.local
.secrets*

# Local Tunnels & Binaries
/cloudflared.exe
/tunnel_url.txt

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*logs/
'.log

# OS Cache
Thumbs.db
.DS_Store
